*{
    margin: 0;
    padding: 0;

}
body{
    background: #FFFFFF;
    height:1100px;
    margin: 0 auto;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 80px;
    padding:0 auto;
    margin: 0 auto;
} 
nav > ul{
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
}
/* banner section */
.banner-detail{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 50px;
}
.banner-title{
    font-size: 40px;
}
.banner-description{
    margin-bottom: 18PX;
}
.button{
    margin-top: 18px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    width: 120px;
    height: 30px;  
    border: none; 
}
.banner-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
} 

/* team */
.team-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left:90px;
    margin-top: 35px;
    gap:30px
}
.team{
    width: 50%;
}
.team-img{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:18px;
    grid-row-gap: 18p;
}
.team-img img{
    height:100%;
    width:100%;
}

.team-title, .team-description{
    color: #727272;;
}
.team-title{
    font-size:50px;
    margin-right: 80px;
    width: 100%;
}
.team-description{
    font-size:16px;
}

.of-our{
    color: #131313;;
}
.feature{
    color: #FF900E;;
}


/* sponsor */

.sponsor{
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    width:100%;
    margin-top: 50px;
}

.sponsor-container{
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.sponsors{
    margin-bottom: 20px;
}
.sponsor-title{
    font-size: 30px;
}
.sponsor-description{
    font-weight: 400;
    font-size: 16px;
}
.sponsor-box-title{
    padding:15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 500px;
    height: 120px;
    padding: 30px 33px;
}
.sponsor-box-heading{

    font-weight: 600;
    font-size: 20px;
}
.sponsor-box-description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}
.sponsor-img{
    width: 100%;
    height:800px;
}
/*  */
.fact{
    text-align:left;
    margin-left:200px;
    margin-top: 30px;
}
.fact h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom:10px;
}
.fact p{
    font-size: 16px;
}


/*  */
.mails{
    display: flex;
    width:100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 60PX;
    margin-top: 50px;
}
.mail{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;

}
.mail h2{
    font-size: 20px;
}
.section-sponsor{
    margin-top: 80px;
    text-align: center;
}
.section-sponsor-title{
    margin-bottom:12px;
    font-size: 30px;
}

.sponsor-group-container{
    display: flex;
    width:100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 60PX;

}
.sponsor-group{
    width: 165.83px;
    height: 50px;
}
.sponsor-group img{
    width: 80px;
    height: 30px;
    margin-top: 50px;
}
/* footer section */
.footer{  
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:100px auto;
    background: #FFF4E7;
    width: 60%;
    padding:10px;
}
.footer-alert {
    font-size: 1.5em;
}

@media screen and (max-with:576) {
    .nav .nav> ul{
        flex-direction: column;
        width:100%;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
}
